$tablet-size: 750px;
$laptop-size: 1024px;
$large: 1280px;

$semi-bold: 600;

$white-20: #f5f5f5;
$white: #ffffff;
$eggplant: #874C62;
$main: #0e9aa7;
$main-80: rgba(14, 154, 167, 0.8);
$grey: #eeeeee; 
$black30: rgba(0, 0, 0,0.3);
$black50: rgba(0, 0, 0,0.5);
$black80: rgba(0, 0, 0,0.8);
$center: 0 auto;